/* body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

body {
    height: 600px;
    margin: 0 auto; /* centers content on the screen 
}

.flex {
    display: flex; 
}


.flex {
    display: flex;
    align-items: right;
}

#banner {
    height: 400px;
    width: 1200px;
}

#name {
    font-size: 50px;
    color: blue;
}

#alias {
    font-size: 25px;
    color: blue;
}
body {
    background-color: aqua;
} 
*/
/* h1 {
    font-size: 15px;
    margin: 10px;
}

nav {
    background-color: blanchedalmond;
}

nav + button { 
    background-color: red;
    font-size: 10px;
    margin-left: 2px;
    margin-right: 2px;
}
*/
/* .banner {
    width: 100vw;
    height: 5vh;
    margin: auto; 

}
        
        
body {

    width: 100vw;
    height: 100vh;
}

.flex {
    display: flex;
    align-items: flex-start;
    text-align: center;
    justify-content: center;
}

        
}

.socail-media a { 
    text-decoration: none;
}

#expand-bio {
    width: 650px;
}
 */