header {
    height: 10vh;
}

main {
    height: 80vh;

    justify-content:  space-evenly;

    /*
    border: 5px;
    border-color: bisque;
    border-style: solid;
    */

    margin: auto;
}

.left-bio-content {
    background-color: #292929;  

    flex-direction: column;
    justify-content: center;
    
    padding: 10px;
    border-radius: 15px;
    margin: auto 10px;
}

#who {
    margin-top: 0px;
    margin-bottom: 0px;
}

#stylewho {
    width: 850px;
    margin-top: 10px;
    margin-bottom: 25px;
}

#expanding-who-button {
    padding: 5px;
}

#what {
    margin-top: 0px;
    margin-bottom: 0px;
}

#stylewhat {
    width: 850px;
    margin-top: 10px;
    margin-bottom: 25px;
}

#why{
    margin-top: 0px;
    margin-bottom: 0px;
}

#stylewhy {
    width: 850px;
    margin-top: 10px;
    margin-bottom: 0px;
}

.skill-bar {
    background-color: #292929; 

    flex-direction: column;
    justify-content: center;
    
    padding: 10px;
    border-radius: 15px;
    margin: auto 10px;
}

.right-nav-content > h2 {
    margin-bottom: 0px;
}
.list-container {
    padding-left: 0;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    padding-left: 20px;
}

footer {
    height: 10vh;
}