/* Colors for the site */
body {
    margin: 0%;
    background-color: #181818;
    align-items: center;
}

header {
    margin: 0%;
    background-color: #292929;

}

main {
    margin: 0%;
    background-color: none;
}

footer {
    flex-direction: column;
    background-color: #292929;  
}

footer > p {
    padding: 0%;
    margin: 0%;
    background-color: #292929;

}

h1, .btn, a, h2, p, li, h3 {
    color: #f0f0f0;
}

.btn {
    background-color: #b368f8;
}

/* Setting up flex */
.flex {
    display: flex;
}

/* Setting up header */
header {
    width: 100vw;
    height: 10vh;

    text-align: center;
    align-items: center;

    justify-content:  space-evenly; 

    /*
    border: 5px;
    border-color: bisque;
    border-style: solid;
    */

    margin: auto;
}

.btn {
    padding: 5px 15px;
    margin: 15px;
    cursor: pointer;
    text-decoration: none;
    border-radius: 5px;
}

/* Setting up footer */
footer {
    width: 100vw;
    height: 10vh;

    text-align: center;
    align-items: center;

    justify-content: center;
    /* justify-content: space-evenly; */

    /*
    border: 5px;
    border-color: bisque;
    border-style: solid;
    */

    margin: auto;
}