* {
  box-sizing: border-box;
}

/* Timeline (the vertical ruler line) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: #292929;
  top: 0; /* stretch from top to bottom */
  bottom: 0; /* stretch from top to bottom */
  left: 50%;
  margin-left: -3px;
}

/* Circle in the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: #292929;
  border: 4px solid #ffaa00;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}


/* Container (containing the content) */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* Aligning the containers */
.left {
  left: 0;
}

.right {
  left: 50%;
}

/* Adding and aligning the arrows */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #292929;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #292929;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #292929;
  border-width: 10px 10px 10px 0;
  border-color: transparent #292929 transparent transparent;
}

/* Aligning the arrows with the timeline  */
.right::after {
  left: -16px;
}

/* Content (containing the details of each events) */
.content {
  padding: 20px 30px;
  background-color: #292929;
  position: relative;
  border-radius: 6px;
}

.left {
  text-align: right;
}

.right {
  text-align: left;
}

/* Aligning the timeline headings */
#left-title {
  margin-bottom: 30px;
  text-align: center;
} 

#right-title {
  margin-top: -157px;
  margin-bottom: 30px;
  text-align: center;
}

/* Aligning the timeline events to reflect my actual work experence and eduacation
#first-event-edit {
  margin-top: -250px;
} */

/* Making it a responsive timeline */
@media screen and (max-width: 600px) {

  .timeline::after {
    left: 31px;
  }

  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  

  .left::after {
    left: 15px;
  }
  

  .right {
    left: 0%;
  }
}